
<% if (loginFlashSuccess && loginFlashSuccess.length) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= loginFlashSuccess %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if (loginFlashFail && loginFlashFail.length) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= loginFlashFail %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
<% } %>