<footer class="footer pb-1 mt-auto" style="background-color: rgb(80, 0, 0);">
    <div class="container">
            <p class="text-muted">Need help? Start looking for <a href="/restaurants">restaurants</a> and <a href="/recipes">recipes</a></p>
            <p class="text-muted">&copy; AggieEats 2021</p>
    </div>
</footer>

</body>

</html>