<footer class="footer py-2 ps-5 mt-auto" style="background-color: rgb(80, 0, 0);">


                    <div class="container p-4">
                        <div class="row">
                            <div class="col">
                                <p class="text-muted">&copy; AggieEats 2021</p>
                            </div>
                            <div class="col">
                                <p class="text-muted float-end">Need help? Start looking for <a class="footer-link" href="/restaurants">restaurants</a> and <a class="footer-link" href="/recipes">recipes</a></p>
                            </div>
                        </div>
                    </div>

</footer>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>

</body>

</html>