<footer class="footer py-2 ps-5 mt-auto navbar-maroon" id="footer-id">


                    <div class="container p-4">
                        <div class="d-flex justify-content-between" >
                            <p class="text-muted">&copy; AggieEats 2021</p>
                            <p class="text-muted">Need help? Start looking for <a class="footer-link" href="/restaurants">restaurants</a> and <a class="footer-link" href="/recipes">recipes</a></p>
                            <button class="btn btn-secondary" id="dark_mode">Turn on Dark mode</button>
                        </div>
                    </div>

</footer>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })

</script>

</body>

</html>