<nav class="navbar navbar-expand-lg navbar-dark maroon" id="navbar-id">
    <a class="navbar-brand ps-5" href="/">AggieEats</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">


                <% if (userAccount) { %>
                <li class=<% if(pageName=="Dashboard" ) {%> "nav-item active" <%} else {%>
                        "nav-item"
                        <%}%>>
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                <% } %>
                <li class=<% if(pageName=="Restaurants" ) {%> "nav-item active" <%} else {%>
                        "nav-item"
                        <%}%>>
                            <a class="nav-link" href="/restaurants">Restaurants</a>
                </li>
                <li class=<% if(pageName=="Recipes" ) {%> "nav-item active" <%} else {%>
                        "nav-item"
                        <%}%>>
                            <a class="nav-link" href="/recipes">Recipes</a>
                </li>

            </ul>
            <ul class="navbar-nav me-right pe-5">
                <% if (!userAccount) { %>
                <li class=<% if(pageName=="Login" ) {%> "nav-item active" <%} else {%>
                        "nav-item"
                        <%}%>>
                            <a class="nav-link" href="/login">Login</a>
                </li>
                <li class=<% if(pageName=="Register" ) {%> "nav-item active" <%} else {%>
                        "nav-item"
                        <%}%>>
                            <a class="nav-link" href="/register">Register</a>
                </li>
                <% } else { %>
                <li class=<% if(pageName=="Log Out" ) {%> "nav-item active" <%} else {%>
                        "nav-item"
                        <%}%>>
                            <a class="nav-link" href="/logout">Log out</a>
                </li>
                <% } %>
            </ul>
    </div>

</nav>