<div class="card my-3">
    <a href="https://www.google.com/">
        <img src="https://www.forksoverknives.com/wp-content/uploads/fly-images/97352/Five-Ingredient-Veggie-Burgers-Wordpress-1-360x270-c.jpg"
            class="card-img-top" alt="sample1">
    </a>
    <div class="card-body">
        <h5 class="card-title">Five-Ingredient Veggie Burger</h5>
        <p class="card-text">Some cool info here</p>

        <div class="row">

            <div class="col">
                <a class="btn btn-primary p-2" href="#detailsPopOut" data-bs-toggle="modal"
                    data-bs-target="#detailsPopOut">More Details</a>
                <!-- Modal -->
                <div class="modal fade" id="detailsPopOut"
                    data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Recipe Name
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>This window will display recipe information from Spoonacular
                                    API</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary"
                                    style="background-color: rgb(80, 0, 0);">Save to My
                                    Library</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="float-end">
                    <a href="#" class="btn btn-secondary ml-auto p-2" data-toggle="tooltip"
                        data-placement="top" title="Add to Library"><i class="fas fa-book"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>