<tbody class="restaurant-list">
    <tr>
        <td><%= food_data[i].name%></td>
        <td><%= food_data[i].address%></td>
        <td><%= food_data[i].city%></td>
        <td><a href=<%= food_data[i].url%>>Link</a></td>
        <td>
            <!-- Button -->
            <button class="btn btn-primary p-2" href="" >More Details</a>
        </td>
    </tr>
</tbody>