<%- include('partials/head', {pageInfo: pageInfo})%>
<%- include('partials/navbar', {pageInfo: pageInfo})%>
<div class="d-flex flex-column min-vh-100">

    <main class="flex-fill">
        <div class="container fill">
            <h1>This is a login page</h1>
        </div>
    </main>

    <%- include('partials/foot')%>
</div>
