<%- include('partials/head', {pageInfo: pageInfo})%>
<%- include('partials/navbar', {pageInfo: pageInfo})%>
<div class="d-flex flex-column min-vh-100">
    <div class="container">
        <div class="text-center">
            <h1 class="text-center">You have successfully logged out.</h1>
            <hr />
            <a class="btn btn-secondary" href="/login" role="button">Log in &raquo;</a>
        </div>

    </div>
    
    <%- include('partials/foot')%>
</div>