<%- include('partials/head', {pageInfo: pageInfo})%>
<%- include('partials/navbar', {pageInfo: pageInfo})%>

<div class="container">
    <h1>This is a recipes page</h1>
</div>


<%- include('partials/foot')%>
