<%- include('partials/head', {pageInfo: pageInfo})%>
	<%- include('partials/navbar', {pageInfo: pageInfo})%>
		<div class="d-flex flex-column min-vh-100">

			<div class="container">

				<h1>Testing Page</h1>

			</div>
		</div>

		</div>

		<script>
			$(document).ready(function () {
				$(".toast").toast('show');
			});
		</script>

		<%- include('partials/foot')%>
			</div>