<%- include('partials/head', {pageInfo: pageInfo})%>
<%- include('partials/navbar', {pageInfo: pageInfo})%>

    <div class="d-flex flex-column min-vh-100">
        <nav>
        </nav>
        <main class="flex-fill">
            <div class="container">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia illum dolorum doloremque ut neque? Ratione enim sint, eaque reiciendis similique odit laboriosam, repellat, distinctio cum ipsum fugit a libero molestiae.</p>
            </div>
        </main>
        <footer class="footer py-1 mt-auto" style="background-color: rgb(80, 0, 0);">
            <div class="container">
                    <p class="text-muted">Need help? Start looking for <a href="/restaurants">restaurants</a> and <a href="/recipes">recipes</a></p>
                    <p class="text-muted">&copy; AggieEats 2021</p>
            </div>
        </footer>
    </div>    
</body>
</html>