<%- include('partials/head', {pageName})%>
	<%- include('partials/navbar', {pageName})%>
	

		<div class="d-flex flex-column min-vh-100">

			<div class="container">
				<%- include('partials/flash')%>


				<h1 class="mt-5 display-1">Testing Page</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<p class="hide_me text-danger" id="error_msg"></p>

				<form action="/testing/review" method="post" id="submit_review">
					<fieldset class="starability-checkmark mt-3">
						<input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
						<input type="radio" id="first-rate1" name="rating" value="1" />
						<label for="first-rate1" title="Terrible">1 star</label>
						<input type="radio" id="first-rate2" name="rating" value="2" />
						<label for="first-rate2" title="Not good">2 stars</label>
						<input type="radio" id="first-rate3" name="rating" value="3" />
						<label for="first-rate3" title="Average">3 stars</label>
						<input type="radio" id="first-rate4" name="rating" value="4" />
						<label for="first-rate4" title="Very good">4 stars</label>
						<input type="radio" id="first-rate5" name="rating" value="5" />
						<label for="first-rate5" title="Amazing">5 stars</label>
					</fieldset>
					<div class="form-group col-md-6">
						<label for="inputFirstName">First Name</label>
						<input type="text" class="form-control" name="firstName" id="inputFirstName">
					  </div>
					  <div class="form-group col-md-6">
						<label for="inputLastName">Last Name</label>
						<input type="text" class="form-control" name="lastName" id="inputLastName">
					  </div>
					<label for="text-form-review" class="form-label" name="Review">Leave a review:</label>
					<textarea class="form-control" id="text-form-review" rows="3" name="review"></textarea>

					<button type="submit"  class="btn btn-primary mt-5">Submit</button>

				</form>

				<button class="btn btn-primary mt-5" id="dark_mode">Turn on Dark mode</button>
				  
			</div>
		</div>

		</div>

		<script>
			$(document).ready(function () {
				$(".toast").toast('show');
			});
		</script>

		<%- include('partials/foot')%>
			</div>