<%- include('partials/head', {pageInfo: pageInfo})%>
<%- include('partials/navbar', {pageInfo: pageInfo})%>
<div class="d-flex flex-column min-vh-100">
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="text-center">This page does not exist.</h1>
            <hr />
            <a class="btn btn-secondary" href="/" role="button">Back to home &raquo;</a>
        </div>

    </div>
    
    <%- include('partials/foot')%>
</div>